@import url(common/mainHeader.css);
@import url(common/mainFooter.css);

.main{
  width: 100%;
  display: flex;
  justify-content: center;
}

.main .main-sec{
  flex: 0 1 1600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 1vw;

  gap: 3vw;
}

.main .main-sec .section1{
  /* 1280px */
  width: 80%; 
  height: 500px;

  position: relative;

  /* border: 1px solid; */
  box-sizing: border-box;

  overflow: hidden;

  box-shadow: inset 0 -2 0 #ccc;
}

.main .main-sec .section1 .bCon{
  width: 100%;
  height: 70px;

  position: absolute;
  z-index: 99;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  display: flex;
  justify-content: space-between;

  padding: 0 1vw;

  /* border: 1px solid; */
  box-sizing: border-box;

}

.main .main-sec .section1 .bCon button{
  width: 70px;
  height: 70px;

  border-radius: 10px;
  border: 0;

  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);

  font-size: 50px;
}

.main .main-sec .section1 .bottomBar{
  width: 100%;
  height: auto;
  position: absolute;
  z-index: 99;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;

  padding: 1vw 0;

  /* border: 1px solid; */
}

.main .main-sec .section1 .bottomBar>ul{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
  gap: 10px;
}

.main .main-sec .section1 .bottomBar>ul>li{
  width: 15px;
  height: 15px;
  padding: 10px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.288);
  box-sizing: border-box;
}

.autoGallery{
  width: 100%;
  height: inherit;
  box-sizing: border-box;

  position: absolute;
  
  transition: all 0.4s;
}

.autoGallery ul{
  width: 100%;
  height: inherit;
  
  display: flex;
  justify-content: space-between;
}

.autoGallery ul li{
  flex: 1;

  /* border: 2px solid #ff00ff; */
  box-sizing: border-box;
}

.autoGallery ul li:nth-child(1){
  background: url(../../../public/images/main-img/mart1.jpg) no-repeat 50%/cover;
}
.autoGallery ul li:nth-child(2){
  background: url(../../../public/images/main-img/mart2.jpg) no-repeat 50%/cover;
}
.autoGallery ul li:nth-child(3){
  background: url(../../../public/images/main-img/mart3.jpg) no-repeat 50%/cover;
}
.autoGallery ul li:nth-child(4){
  background: url(../../../public/images/main-img/mart4.jpg) no-repeat 50%/cover;
}

.main .main-sec .horizontal{
  width: 1600px;
  height: 1px;
  background-color: rgb(221, 221, 221);
}

.main .main-sec .section2{
  width: 100%;
  display: flex;
  justify-content: center;
}

.main .main-sec .section2 .sec2-con{
  width: auto;
}

.main .main-sec .section2 .sec2-con>ul{
  display: grid;
  grid-template-columns: repeat(4,200px);
  grid-template-rows: repeat(1,200px);
  grid-auto-rows: 200px;

  gap: 200px;

  /* border: 1px solid; */

}

.main .main-sec .section2 .sec2-con>ul>li{
  border: 1px solid;
  box-sizing: border-box;

  border: 1px solid rgb(229, 232, 239);
  background-color: rgb(239, 240, 244);
  border-radius: 10px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 20px;

  cursor: pointer;

  transition: all 0.2s;
}

.main .main-sec .section2 .sec2-con>ul>li:hover{
  box-shadow: inset 0 0 2px rgb(163, 0, 0);
  border: 3px solid rgb(163, 0, 0);
  box-sizing: border-box;
  transform: scale(1.1);
}


.main .main-sec .section2 .sec2-con>ul>li .top{
  width: 120px;
}

.main .main-sec .section2 .sec2-con>ul>li .top img{
  width: 100%;
  display: block;
}

.main .main-sec .section2 .sec2-con>ul>li .bottom{
  font-weight: bold;
  font-size: 20px;
}