
.paymentApi-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000; 
    max-width: 500px; 
    border-radius: 8px;
    overflow: hidden; /* 내용이 넘치지 않도록 */
  }
  
  .paymentApi-modal-con {
    padding: 20px;
}
  
  .paymentApi-close-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 20px;
    float: right;
    color: red;
  }
  .kakao-info-window {
    max-width: 200px; 
    padding: 10px; 
    font-size: 14px; 
    white-space: nowrap; /* 줄바꿈  */
}

@media (max-width: 800px){
  .paymentApi-modal-con {
    width: 90vw;
    height: auto;
  }
}
