.paymentDetail {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 150px 20px 20px 20px;
  background-color: #f9f9f9;
}

.paymentDetail .paymentDetail-con {
  flex: 0 1 1000px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* justify-content: center;
  align-items: center; */
}

.paymentDetail .paymentDetail-con h2 {
  text-align: center;
  font-size: 23px;
  font-weight: bold;
  color: #333;
  box-sizing: border-box;
  padding: 10px;
}

.paymentDetail .paymentDetail-con .myinfo {
  background-color: #f0f0f0;
  padding: 1vw;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.paymentDetail .paymentDetail-con .myinfo .myinfo-con {
  width: 100%;
  padding: 1vw;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
}

.paymentDetail .paymentDetail-con .myinfo .my-image {
  width: 250px;
  height: 250px;
  padding: 1vw;
  box-sizing: border-box;

}

.paymentDetail .paymentDetail-con .myinfo .my-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.paymentDetail .paymentDetail-con .myinfo .myinfo-con ul li {
  margin-bottom: 10px;
  font-size: 16px;
  color: #555;

}

.paymentDetail .paymentDetail-con .myinfo .myinfo-con button {
  padding: 10px 15px;
  background-color: #d1d1d1;
  color: #333;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.paymentDetail .paymentDetail-con .myinfo .myinfo-con button:hover {
  background-color: #c0c0c0;
}

.paymentDetail .paymentDetail-con .paymentlist-con {
  margin-top: 20px;
  height: 600px;
  border-radius: 8px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
}

.paymentDetail .paymentDetail-con .paymentlist .paymentlist-con h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}



.paymentDetail .paymentDetail-con .paymentlist ul li {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  padding: 15px 10px;
  /* border-bottom: 1px solid #e0e0e0; */
  font-size: 20px;
  color: #333;

}

.paymentDetail .paymentDetail-con .payment-section {
  background-color: #ffffff;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.paymentDetail .paymentDetail-con .payment-section h3.order-time {
  font-size: 18px;
  font-weight: bold;
  color: #555;
  margin-bottom: 15px;
}

.paymentDetail .paymentDetail-con .payment-section ul {

  padding: 0;
  margin: 0;
}

.paymentDetail .paymentDetail-con .payment-section ul li.order-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.paymentDetail .paymentDetail-con .payment-section ul li.order-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 15%;
}

.paymentDetail .paymentDetail-con .payment-section ul li.order-item div {
  flex: 1;
}

.paymentDetail .paymentDetail-con .payment-section .order-summary {
  margin-top: 20px;
  padding-top: 15px;
  border-top: 1px solid #e0e0e0;
  font-size: 20px;
  color: #333;
}

.paymentDetail .paymentDetail-con .payment-section .order-summary p {
  margin-bottom: 10px;
}