@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


.main-footer {
  width: 100%;
  height: 100%;
  padding: 70px 0;
  background: url('/public/images/orderfooter/footer.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}

.main-footer .main-footer-con{
  width: 100%;
  display: flex;
  justify-content: center;

}

.main-footer .main-footer-con .information {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  gap: 10vw;
}

.main-footer .main-footer-con .information .information-con {
  width: auto;
  padding: 0 15px;
}

.main-footer .main-footer-con .information .information-con h4 {
  font-size: 25px;
  color: #252525;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.main-footer .main-footer-con .information .information-con h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #bb69a6;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.main-footer .main-footer-con .information .information-con ul li {
  margin-bottom: 10px;
  cursor: pointer;
  padding: 10px 0;
  transition: all 0.3s;
}


.main-footer .main-footer-con .information .information-con ul li:hover {
  color: #2c2a2a;
  transform: translateY(-5px);
}

.main-footer .main-footer-con .information .information-con .social-links {
  display: flex;
  flex-direction: column;
}

.main-footer .main-footer-con .information .information-con i {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.637);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #111111;
  transition: all 0.5s ease;
  cursor: pointer;
}

.footer-col .social-links i:hover {
  color: #24262b;
  background-color: #ffffff;
}

@media(max-width: 800px) {
  .main-footer .main-footer-con .information {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 5vw;
  }
  .main-footer .main-footer-con .information .information-con {
    width: auto;
    padding: 0px 5px;
    box-sizing: border-box;
    gap: 1vw;
  }
  .main-footer .main-footer-con .information .information-con h4 {
    font-size: 18px;
  }
  .main-footer .main-footer-con .information .information-con ul li{
    padding: 10px 0;
    font-size: 12px;
  }
  .main-footer .main-footer-con .information .information-con ul li:hover {
    transform: translateY(-5px);
  }
}