.footer{
  width: 100%;
  height: 100%;
  
  background-color: rgb(241, 242, 246);
  display: flex;
  justify-content: center;

  box-shadow: inset 0 2px 0 rgb(221, 221, 221);;

  padding: 1vw 0;
}

.footer .footer-con{
  flex: 0 1 1600px;
  transition: all 0.3s;
}

.footer .footer-con #near{
  font-size: 30px;
}

.footer .footer-con #call{
  font-size: 35px;
}

@media (max-width: 800px){
  .footer .footer-con{
    padding: 0 20px;
  }
}