.main-header{
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;

  box-shadow: inset 0 -2px 0px #ccc;
}

.main-header .nav{
  flex: 0 1 1600px;
  height: 130px;

  margin: 0 auto;

  display: flex;
  justify-content: space-between;
}

.main-header .nav h1.logo{
  /* border: 1px solid; */
  box-sizing: border-box;
  padding: 10px;

  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

}

.main-header .nav .gnb{
  flex: 0 1 700px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  transition: all 0.3s;
}

.main-header .nav .gnb>ul{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4vw;
}

.main-header .nav .gnb>ul li a{
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  font-size: 20px;
  transition: all 0.3s;
  font-weight: bold;
  color: #333;
}

.main-header .nav .gnb ul li a:hover {
  color: #ff6b00;
}

@media (max-width: 800px) {
  .main-header .nav .gnb{
    flex: 0 1 300px;
  }
  .main-header .nav .gnb>ul li a{
    font-size: 13px;
  }
}