@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.slider {
    font-family: Poppins;
    margin: 0;
    height: 100vh;
    margin-top: 0;
    position: relative;
}

.slider .list .item {
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
    opacity: 0;
    transition: .5s;
}

.slider .list .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider .list .item::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to top, #000000a2 40%, transparent);
}

.slider .list .item .content {
    position: absolute;
    left: 10%;
    top: 20%;
    width: 500px;
    max-width: 80%;
    z-index: 1;
}

.slider .list .item .content p:nth-child(1) {
    text-transform: uppercase;
    letter-spacing: 10px;
    color: white;
}

.slider .list .item .content p:nth-child(3) {

    color: white;
}

.slider .list .item .content h2 {

    font-size: 150px;
    margin: 0;
    color: white;
}

.slider .list .item .content .buttons {
    margin-top: 20px;

}

.slider .list .item .content .buttons button {

    margin-top: 20px;
    /* border: white;
    box-sizing: border-box; */
    border: none;

    letter-spacing: 3px;
    font-weight: 500;
    font-size: 50px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.603);
    color: black;
    cursor: pointer;
    border-radius: 10px;
}

.slider .list .item .content .buttons button:hover {

    background-color: white;
    color: black;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.356);
    color: white;
}




.slider .list .item.active {
    opacity: 1;
    z-index: 10;
}


.slider .list .item.active p:nth-child(1),
.slider .list .item.active h2,
.slider .list .item.active p:nth-child(3),
.slider .list .item.active button {
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent 0.5s 0.7s ease-in-out 1 forwards;
}

@keyframes showContent {
    to {
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}

.slider .list .item.active h2 {
    animation-delay: 1s;
}

.slider .list .item.active p:nth-child(3) {
    animation-duration: 1.2s;
}

.slider .list .item.active button {
    animation-duration: 1.4s;
}





.slider .arrows {
    position: absolute;
    top: 30%;
    right: 50px;
    z-index: 100;
}

.slider .arrows .buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.slider .arrows .buttons button {
    background-color: #eee5;
    border: none;
    font-family: monospace;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: x-large;
    color: #eee;
    transition: .5s;
    cursor: pointer;

}



.slider .arrows button:hover {
    background-color: #eee;
    color: black;
}




.slider .thumbnail {
    position: absolute;
    bottom: 50px;
    z-index: 11;
    display: flex;
    gap: 10px;
    width: 100%;
    height: 250px;
    padding: 0 50px;
    box-sizing: border-box;
    overflow: auto;
    justify-content: center;
}



.slider .thumbnail .item {
    width: 150px;
    height: 220px;
    filter: brightness(0.5);
    transition: .5s;
    /* flex-shrink: 0; */
    cursor: pointer;
}

.slider .thumbnail .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.slider .thumbnail .item.active {
    filter: brightness(1.5);
}

.slider .thumbnail .item .content {
    position: absolute;
    inset: auto 10px 10px 10px;
}




/*반응형 만들었습니다 */
@media screen and (max-width: 950px) {
    .slider .thumbnail {
        justify-content: start;
    }

    .slider .list .item .content h2 {
        font-size: 50px;
    }

    .slider .arrows {
        top: 10%;
    }

    .slider .list .item .content .buttons button {
        font-size: 40px;
    }
}