@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


.order-footer {
  width: 100%;
  height: 100%;
  padding: 70px 0;
  background: url('/public/images/orderfooter/footer.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  font-family: 'Poppins', sans-serif;

}

.order-footer .order-footer-con .information {
  display: flex;
  justify-content: center;
  margin-left: 10vw;
  box-sizing: border-box;
}

.order-footer .order-footer-con .information .information-con {
  width: 25%;
  padding: 0 15px;
}

.order-footer .order-footer-con .information .information-con h4 {
  font-size: 18px;
  color: #252525;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.order-footer .order-footer-con .information .information-con h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #bb69a6;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.order-footer .order-footer-con .information .information-con ul li {
  margin-bottom: 10px;
  cursor: pointer;
}


.order-footer .order-footer-con .information .information-con ul li:hover {
  color: #2c2a2a;
  padding-left: 5px;
}

.order-footer .order-footer-con .information .information-con .social-links {
  display: flex;
}

.order-footer .order-footer-con .information .information-con i {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.637);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #111111;
  transition: all 0.5s ease;
  cursor: pointer;
}

.footer-col .social-links i:hover {
  color: #24262b;
  background-color: #ffffff;
}

@media(max-width: 1030px){
  .order-footer .order-footer-con .information .information-con .social-links {
    flex-direction: column;
  }
}

@media(max-width: 800px) {
  .order-footer .order-footer-con .information {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .order-footer .order-footer-con .information .information-con {
    width: 100%;
    padding: 0px 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    gap: 1vw;
  }
  .order-footer .order-footer-con .information .information-con ul{
    display: flex;
    gap: 4vw;
  }
  .order-footer .order-footer-con .information .information-con .social-links {
    flex-direction: row;
  }
}