.authDetail {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.authDetail .authDetail-con {
    padding: 25px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    width: 400px;
    
}
.authDetail .authDetail-con h1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/public/images/auth/member.png);
   background-repeat: no-repeat;
   background-position: 70px center;
   background-size: 30px;
   /* padding-left: 40px; */

}


.authDetail .authDetail-con ul {
    list-style-type: none;
    padding: 0;
}

.authDetail .authDetail-con ul li {
    margin-bottom: 18px; 
    padding: 12px;
    background-color: #f0f0f0;
    border-radius: 10px;
    transition: background-color 0.2s ease-in-out;
}

.authDetail .authDetail-con ul li div {
    font-size: 17px;
    color: #333;
}

.authDetail .authDetail-con ul li:hover {
    background-color: #e0e0e0;
}

.authDetail .authDetail-con button {
    display: block;
    width: 100%;
    padding: 12px 0;
    margin-top: 25px;
    background-color: #93a0a4;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.authDetail .authDetail-con button:hover {
    background-color: #727f80;
}