.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.login .login-con {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.login .login-con h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.login .login-con ul li {
    margin-bottom: 15px;
}

.login .login-con ul li input[type="text"],
input[type="password"]
 {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}
.login .login-con ul li:first-child input
 {
   background-image: url(/public/images/auth/member.png);
   background-repeat: no-repeat;
   background-position: 10px center;
   background-size: 20px;
   padding-left: 40px;
    
}

.login .login-con ul li:nth-child(2) input
 {
   background-image: url(/public/images/auth/password.png);
   background-repeat: no-repeat;
   background-position: 10px center;
   background-size: 20px;
   padding-left: 40px;
    
}

.login .login-con ul li input[type="text"]:focus,
input[type="password"]:focus
 {
    border-color: #b1b3b6;
    outline: none;
}

.login .login-con ul li button {
    width: 100%;
    padding: 12px;
    background-color: #919ca7;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.login .login-con ul li button:hover {
    background-color: #7d92a8;
}

.login .login-con ul li button:last-child {
    background-color: #6c757d;
    background-image: url(/public/images/auth/home.png);
   background-repeat: no-repeat;
   background-position: 150px center;
   background-size: 20px;
   /* padding-left: 10px; */
}

.login .login-con ul li button:last-child:hover {
    background-color: #585f64;
}