.loginmodal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}


.loginmodal .loginmodal-con {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);

}


.loginmodal .loginmodal-con p {
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}


.loginmodal .loginmodal-con button {
    padding: 10px 20px;
    background-color: #64696e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}


.loginmodal .loginmodal-con button:hover {
    background-color: #272829;
}