.order-vegetable {
    width: 100%;
    padding: 1vw;
    box-sizing: border-box;
  
    display: flex;
    justify-content: center;
  }
  
  .order-vegetable .order-vegetable-con {
    flex: 0 1 1600px;
    height: calc(100vh - 80px - 60px - 2vw);
    box-sizing: border-box;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .order-vegetable .order-vegetable-con .title{
   


    
  }
  
  
  
  
  
  
  .order-vegetable .order-vegetable-con ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 250px);
  
    gap: 1vw;
  
  }
  
  .order-vegetable .order-vegetable-con  ul li {
    /* background-color: rgb(145, 222, 166); */
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
    cursor: pointer;
  
    transition: all 0.2s;
  
    border-radius: 20px 10px;
  
  }
  
  .order-vegetable .order-vegetable-con  ul li:hover {
    opacity: 0.9;
    filter: grayscale(50%);
    transform: scale(1.02);
  }
  
  .order-vegetable .order-vegetable-con  ul li .top {
    flex: 4;
    overflow: hidden;
  }
  
  .order-vegetable .order-vegetable-con  ul li .top img {
    width: 100%;
    display: block;
  }
  
  .order-vegetable .order-vegetable-con  ul li .bottom {
    flex: 1;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    background-color: white;
  }
