.order-snack-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 1600px;
  margin: 20px auto;
  padding-bottom: 10px;
  border-bottom: 2px solid #ccc;
  box-sizing: border-box; /* 패딩이 전체 너비에 포함되도록 적용 */
}

.order-snack-header h2 {
  color: #333;
  font-size: 30px;
  height: 30px;
  display: flex;
  align-items: center;
}

.order-snack-header h2 span {
  margin-left: 20px;
  color: #666;
  font-size: 22px;
}

.order-snack {
  width: 1600px;
  margin: 10px auto;
  padding-bottom: 30px;
  overflow-y: auto;
  height: calc(100vh - 100px); /* 헤더와 푸터를 제외한 고정 높이 설정 */
  box-sizing: border-box; /* 패딩과 높이를 제대로 관리하기 위해 적용 */
}

.order-snack-con {
  padding: 10px;
}

.order-snack-con ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3열로 설정 */
  grid-gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.order-snack-con li {
  width: 300px;
  border: 1px solid #eee;
  transition: transform 0.3s ease;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* 박스 그림자 */
  box-sizing: border-box; /* 패딩이 전체 너비에 포함되도록 적용 */
}

.order-snack-con li:hover {
  transform: translateY(-10px);
}

.order-snack-con .top {
  width: 100%;
  height: 252px;
  margin-bottom: 15px;
}

.order-snack-con .top img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.order-snack-con .bottom {
  width: 100%;
  text-align: center;
}

.order-snack-con .bottom .title {
  color: #333;
  font-size: 20px;
  margin-bottom: 10px;
}

.order-snack-con .bottom .price {
  color: #ff6b00;
  font-size: 18px;
  margin-bottom: 10px;
}

.order-snack-con .bottom .description {
  color: #666;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}
