.order-snack-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 20px auto;
  padding-bottom: 10px;
  border-bottom: 2px solid #ccc;
  box-sizing: border-box;
  /* 패딩이 전체 너비에 포함되도록 적용 */
}

.order-snack-header h2 {
  color: #333;
  font-size: 30px;
  height: 30px;
  display: flex;
  align-items: center;
}

.order-snack-header h2 span {
  margin-left: 20px;
  color: #666;
  font-size: 22px;
}

.order-snack-header-right {
  display: flex;
  align-items: center;

  gap: 1vw;
}

.order-snack-header-right select {
  padding: 4px 8px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  cursor: pointer;
  width: 120px;
  height: 30px;
}

.order-snack {
  width: 100%;
  /* 헤더와 푸터를 제외한 고정 높이 설정 */
  box-sizing: border-box;
  /* 패딩과 높이를 제대로 관리하기 위해 적용 */
  display: flex;
  justify-content: center;
}

.order-snack-con {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.order-snack-con ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* 3열로 설정 */
  grid-gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.order-snack-con ul li {
  width: 20vw;
  border: 1px solid #eee;
  transition: transform 0.3s ease;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  /* 박스 그림자 */
  box-sizing: border-box;
  /* 패딩이 전체 너비에 포함되도록 적용 */
  transition: all 0.3s;
}

.order-snack-con li:hover {
  transform: translateY(-10px);
}

.order-snack-con .top {
  width: 100%;
  height: 252px;
  margin-bottom: 15px;
}

.order-snack-con .top img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.order-snack-con .bottom {
  width: 100%;
  text-align: center;
}

.order-snack-con .bottom .title {
  color: #333;
  font-size: 20px;
  margin-bottom: 10px;
}

.order-snack-con .bottom .price {
  color: #ff6b00;
  font-size: 18px;
  margin-bottom: 10px;
}

.order-snack-con .bottom .description {
  color: #666;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 10px;
}

.pagination button {
  margin: 0 5px;
  padding: 10px 15px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination button.active {
  background-color: #71787c;
  color: white;
}

@media (max-width: 1030px){
  .order-snack-con ul li {
    width: 29vw;
  }
}

@media (max-width: 800px) {
  .order-snack-header h2 {
    font-size: 25px;
  }

  .order-snack-header h2 span {
    font-size: 15px;
  }

  .order-snack-con ul {
    grid-template-columns: repeat(2, 1fr);
  }

  .order-snack-con ul li {
    width: 40vw;
  }
  .order-snack-header {
    flex-direction: column;
  }
  .order-snack-header-right{
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
  }
}
