.order-index{
  width: 97%;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1vw 0;
}

.order-index .order-index-con{
  flex: 0 1 80%;
  height: auto;

  display: flex;
  flex-direction: column;
  
  box-sizing: border-box;

  /* box-shadow: 0 0 2px; */
  gap: 1vw;
  transition: all 0.3s;
}

.order-index .order-index-con .order-index-top{
  width: 100%;
  height: 250px;
  display: flex;

  gap: 2vw;

  box-shadow: 0 0 5px #ccc;

  padding: 15px;
}

.order-index .order-index-con .order-index-top h2{
  width: 196px;
}

.order-index .order-index-con .order-index-top ul{
  flex: 0 1 80%;
  display: flex;
  gap: 4vw;
  justify-content: center;
  align-items: center;
}

.order-index .order-index-con .order-index-top ul li{
  width: 10vw;
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;

  padding: 10px;

  cursor: pointer;
  transition: all 0.3s;
}

.order-index .order-index-con .order-index-top ul li:hover{
  box-shadow: inset 0 0 10px #ccc;
}

.order-index .order-index-con .order-index-top ul li .top{
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-index .order-index-con .order-index-top ul li .top img{
  width: 150px;
  height: 150px;
  display: block;
}

.order-index .order-index-con .order-index-top ul li .bottom{
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.order-index .order-index-con .order-index-top ul li .bottom p{
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.order-index .order-index-con .order-index-top ul li .bottom span{
  font-weight: bold;
}

@media (max-width: 1400px){
  .order-index .order-index-con .order-index-top{
    flex-direction: column;
    height: auto;
  }
}

@media (max-width: 1030px){
  .order-index .order-index-con{
    flex: 0 1 90%;
  }
  .order-index .order-index-con .order-index-top ul{
    transition: all 0.3s;
  }
}

@media (max-width: 800px){
  .order-index .order-index-con .order-index-top ul{
    display: grid;
    grid-template-columns: repeat(2, 30vw);
    gap: 1vw 8vw;
  }
  .order-index .order-index-con .order-index-top ul li{
    height: 30vh;
    width: 33vw;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 20px;
  }
  .order-index .order-index-con .order-index-top ul li .bottom p{
    width: 100%;
  }
}