.cart-list {
  width: 100%;
  min-height: calc(100vh - 80px - 60px);

  display: flex;
  justify-content: center;

  padding: 1vw;
  box-sizing: border-box;

  background-color: antiquewhite;
}

.cart-list .cart-list-con {
  flex: 0 1 1600px;

  background-color: #ffffff;
}

.cart-list .cart-list-con h3.title {
  background-color: black;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.1vw !important;
}

.cart-list .cart-list-con .cart-item-con {
  width: 100%;
  padding: 0.5vw;
  display: grid;
  /* grid-template-columns: repeat(6, 1fr); */
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 100px);

  grid-auto-rows: 100px;

  gap: 0.5vw;
  box-sizing: border-box;
}

.cart-list .cart-list-con .cart-item-con .cart-item {
  box-shadow: 1px 2px 2px #560e0e;

  /* display: flex;

  flex-direction: column;

  justify-content: space-between; */

  display: flex;
  justify-content: space-between;
}

.cart-list .cart-list-con .cart-item-con .cart-item .top {
  flex: 0 0 100px;
  /* overflow: hidden; */
}

.cart-list .cart-list-con .cart-item-con .cart-item .top img {
  width: 100%;
  display: block;
}

.cart-list .cart-list-con .cart-item-con .cart-item .bottom {
  flex: 1;

  display: flex;
  /* flex-direction: column; */
  /* justify-content: center; */
  justify-content: flex-end;
  align-items: center;

  padding: 0 1vw;
  box-sizing: border-box;

  gap: 1vw;
  font-size: 1.1vw;
}

.cart-null {
  /* width: 100%; */
  display: flex;
  justify-content: center;
}

.cart-null h1 {
  background-color: #430e0e;
  color: #ffffff;
  font-size: 20px;
  padding: 0.5vw 1vw;
  border-radius: 20px;
}

.payment {
  display: flex;
  justify-content: flex-end;

  padding: 2vw;
  box-sizing: border-box;
}

.delete-cart {
  border-radius: 2px;
  padding: 0.3vw;
  font-size: 12px;
  background-color: #ff0000;
  color: #ffffff;

  cursor: pointer;
}
