@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

.jua-regular {
  font-family: "Jua", serif;
  font-weight: 400;
  font-style: normal;
}

.cart-list {
  width: 100%;
  min-height: calc(100vh - 80px - 60px);
  display: flex;
  justify-content: center;
  padding: 1vw;
  box-sizing: border-box;
  background-color: antiquewhite;
}

.cart-list-con {
  width: 100%;
  max-width: 1600px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2vw;
}

.cart-title {
  background-color: black;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5vw;
  width: 100%;
  box-sizing: border-box;
}

.cart-item-con {
  width: 100%;
  padding: 0.5vw;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1vw;
  box-sizing: border-box;
}

.cart-item {
  width: 100%;
  box-shadow: 1px 2px 2px 2px #560e0e;
  display: flex;
  justify-content: flex-start;
  background-color: #f9f9f9;
  padding: 1vw;
  border-radius: 10px;
  box-sizing: border-box;
}

.cart-item-top {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.cart-item-top img {
  width: 150px;
  border-radius: 5px;
}

.cart-details-button {
  background-color: #007bff;
  color: white;
  padding: 0.5vw;
  border: none;
  border-radius: 5px;
  display: flex;
}

.cart-details-button:hover {
  background-color: red;
}

.cart-item-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2vw;
  gap: 2vw;
  flex-wrap: nowrap;
}

.cart-details-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.cart-details-container span {
  font-family: "Jua", serif;
  font-weight: 400;
  font-size: 25px;
}

.cart-delete {
  border-radius: 3px;
  padding: 0.3vw;
  background-color: #ff0000;
  color: #ffffff;
  font-family: "Jua", serif;
  font-weight: 400;
  font-size: 25px;
}

.cart-delete:hover {
  background-color: darkred;
}

.cart-null {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 300px;
}

.cart-null h1 {
  background-color: #430e0e;
  color: #ffffff;
  font-size: 20px;
  padding: 0.5vw 1vw;
  border-radius: 20px;
  width: 100%;
  text-align: center;
}

/* 페이지네이션 */
.cart-pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.cart-pagination-btn {
  padding: 10px;
  margin: 5px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}

.cart-pagination-btn.active {
  background-color: red;
}

.cart-pagination-btn:hover {
  background-color: #0056b3;
}

/* 결제 영역 */
.cart-payment {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 2vw;
  box-sizing: border-box;
  width: 100%;
}

.cart-sum-price {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

.cart-payment-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.cart-payment-button {
  background-color: #007bff;
  color: white;
  padding: 0.5vw 1vw;
  border: none;
  border-radius: 5px;
}

.cart-payment-button:hover {
  background-color: red;
}

@media screen and (max-width: 1300px) {
  .cart-item-top img {
    width: 120px;
    border-radius: 5px;
  }

  .cart-details-container span {
    font-size: 20px;
  }

  .cart-payment-buttons > button {
    width: 100%;
    padding: 1vw;
    font-size: 14px;
  }
}

/* 800px 이하 반응형 스타일 */
@media screen and (max-width: 800px) {
  .cart-null {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .cart-null h1 {
    background-color: #430e0e;
    color: #ffffff;
    font-size: 20px;
    padding: 0.5vw 1vw;
    border-radius: 20px;
    width: 100%;
    text-align: center;
  }

  .cart-item-con {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1vw;
    box-sizing: border-box;
  }

  .cart-item {
    position: relative;
    flex-direction: column;
  }

  .cart-item-top {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cart-item-top img {
    width: 100px;
    border-radius: 5px;
  }

  .cart-item-bottom {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vw;
  }

  .cart-details-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cart-delete {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
  }
  .cart-delete:hover {
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: #0056b3;
  }

  .cart-payment-buttons > button {
    width: 100%;
  }
}
