.cart-list {
  width: 100%;
  min-height: calc(100vh - 80px - 60px);
  display: flex;
  justify-content: center;
  padding: 1vw;
  box-sizing: border-box;
  background-color: antiquewhite;
}

.cart-list-con {
  flex: 0 1 1600px;
  background-color: #ffffff;
}

.cart-title {
  background-color: black;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.1vw !important;
}

.cart-item-con {
  width: 100%;
  padding: 0.5vw;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 120px);
  grid-auto-rows: 120px;
  gap: 0.5vw;
  box-sizing: border-box;
}

.cart-item {
  box-shadow: 1px 2px 2px #560e0e;
  display: flex;
  justify-content: flex-start; /* 왼쪽 정렬 */
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 10px;
}

.cart-item-top {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.cart-item-top img {
  width: 100px;
  border-radius: 5px;
}

.cart-details-button {
  background-color: #007bff;
  color: white;
  padding: 0.5vw;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
}

.cart-details-button:hover {
  background-color: #0056b3;
}

.cart-item-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2vw;
  gap: 2vw;
}

.cart-details-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.cart-delete {
  border-radius: 2px;
  padding: 0.3vw;
  font-size: 12px;
  background-color: #ff0000;
  color: #ffffff;
  cursor: pointer;
  margin-left: 1vw;
}

.cart-delete:hover {
  background-color: darkred;
}

.cart-null {
  display: flex;
  justify-content: center;
}

.cart-null h1 {
  background-color: #430e0e;
  color: #ffffff;
  font-size: 20px;
  padding: 0.5vw 1vw;
  border-radius: 20px;
}

.cart-payment {
  display: flex;
  justify-content: flex-end;
  padding: 2vw;
  box-sizing: border-box;
}

.cart-payment-sub {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cart-sum-price {
  font-size: 1.5em;
  font-weight: bold;
}

.cart-order-result button {
  background-color: #007bff;
  color: white;
  padding: 0.5vw 1vw;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cart-order-result button:hover {
  background-color: #0056b3;
}
