@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

.jua-regular {
  font-family: "Jua", serif;
  font-weight: 400;
  font-style: normal;
}

.cart-list {
  width: 100%;
  min-height: calc(100vh - 130px - 225px);
  display: flex;
  justify-content: center;
  padding: 0.5vw;
  box-sizing: border-box;
  background-color: antiquewhite;
}

.cart-list-con {
  width: 100%;
  max-width: 1600px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vw 1vw;
  box-sizing: border-box;
}

.cart-title {
  background-color: black;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5vw;
  width: 100%;
  box-sizing: border-box;
  font-family: "Jua", serif;
  font-weight: 400;
  font-style: normal;
}

.cart-item-con {
  width: 100%;
  padding: 2vw;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2vw;
  box-sizing: border-box;
}

.cart-item {
  width: 100%;
  box-shadow: 1px 2px 2px 3px #560e0e;
  display: flex;
  justify-content: flex-start;
  background-color: #f9f9f9;
  padding: 1vw;
  border-radius: 10px;
  box-sizing: border-box;
}

.cart-item-top {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.cart-item-top img {
  width: 150px;
  border-radius: 5px;
}

.cart-details-button {
  background-color: #007bff;
  color: white;
  padding: 0.5vw;
  border: none;
  border-radius: 5px;
  font-family: "Jua", serif;
  font-size: 25px;
}

.cart-details-button:hover {
  background-color: red;
}

.cart-item-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 1vw;
  gap: 2vw;
}

.cart-details-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1vw;
  flex-wrap: wrap;
}

.cart-details-container span {
  font-family: "Jua", serif;
  font-size: 20px;
}

.cart-delete {
  border-radius: 3px;
  padding: 0.3vw;
  background-color: #ff0000;
  color: white;
  font-size: 25px;
  cursor: pointer;
}

.cart-delete:hover {
  background-color: darkred;
}

.cart-null {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  grid-column: 1 / -1;
}

.cart-null h1 {
  width: 90%;
  background-color: #430e0e;
  color: white;
  font-size: 20px;
  padding: 1vw 1vw;
  border-radius: 20px;
  text-align: center;
}
.cart-null h1 span {
  font-family: "Jua", serif;
  font-weight: 400;
  font-style: normal;
}

.cart-pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}

.cart-pagination-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cart-pagination-btn.active {
  background-color: #ff6347;
  font-weight: bold;
  border: 2px solid black;
}

.cart-pagination-btn:hover {
  background-color: #ccc;
}

.cart-pagination-before-btn {
  background-color: #007bff;
  border: none;
  font-size: 20px;
  color: white;
}

.cart-pagination-after-btn {
  background-color: red;
  border: none;
  font-size: 20px;
  color: white;
}
.cart-payment {
  display: flex;
  flex-direction: column;

  align-items: center;
  padding: 3vw;
  width: 100%;
  gap: 6vw;
}

.cart-sum-price {
  font-size: 30px !important;
  font-weight: bold;
  text-align: center;
}

.cart-payment-button {
  background-color: #007bff;
  color: white;
  padding: 0.5vw 1vw;
  border: none;
  border-radius: 5px;
  font-size: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cart-payment-button:hover {
  background-color: red;
}

/* 1300px 이하에서 결제하기 버튼 스타일 유지 */
@media screen and (max-width: 1300px) {
  .cart-item-con {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .cart-item-top img {
    width: 120px;
  }

  .cart-details-container span {
    font-size: 20px;
  }

  .cart-payment-button {
    width: auto;
    font-size: 25px;
    padding: 0.5vw 1vw;
  }

  .cart-null {
    height: 100vh;
  }
}

@media screen and (max-width: 800px) {
  .cart-item-con {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .cart-item {
    flex-direction: column;
    position: relative; /*포지션 delete조상님*/
  }

  .cart-item-top {
    justify-content: center;
  }

  .cart-item-top img {
    width: 100px;
  }

  .cart-item-bottom {
    flex-direction: column;
    gap: 1vw;
  }

  .cart-details-container {
    flex-direction: column;
    gap: 20px;
  }
  .cart-details-button {
    font-size: 20px;
  }
  .cart-delete {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 15px;
  }

  .cart-delete:hover {
    color: #0056b3;
  }

  .cart-payment-button {
    width: auto;
    font-size: 25px;
    padding: 0.5vw 1vw;
  }
}
