/* 컨테이너 스타일 */
.admin-vegetable {
    max-width: 1200px;
    display: flex;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* 제목 스타일 */
  .admin-vegetable-con {
    max-height: calc(100vh - 80px - 80px); 
    margin-bottom: 20px;
    overflow-y: auto;
  }
  
  /* 목록 스타일 */
  .admin-vegetable-con ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    padding: 0;
    list-style: none;
  }
  
  /* Grid 아이템 스타일 (li) */
  .admin-vegetable-con ul li {
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fafafa;
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
  }
  
  .admin-vegetable-con ul li:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  }
  
  /* 이미지 스타일 */
  .admin-vegetable-con ul li img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  /* 하단 텍스트 부분 스타일 */
  .admin-vegetable-con ul li {
    padding: 15px;
    text-align: center;
    color: #555;
  }
  
  .admin-vegetable-con ul li span {
    display: block;
    margin-bottom: 10px;
  }
  
  .admin-vegetable-con ul li span:first-child {
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }
  
  .admin-vegetable-con ul li span:last-child {
    font-size: 16px;
    font-weight: bold;
    color: #009578;
  }
  
  /* 미디어 쿼리: 화면 크기 조정 */
  @media (max-width: 1030px) {
    .admin-vegetable-con ul {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 800px) {
    .admin-vegetable-con ul {
      grid-template-columns: 1fr;
    }
  }
  