.admin-product {
    width: 100%;
    height: calc(100vh - 50px);
}

.admin-product .admin-product-con {
    width: 100%;
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.admin-product .admin-product-con h1 {
    width: 100%;
    height: 50px;
    background-color: rgb(71, 69, 73);
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-product .admin-product-con span {
    width: 100%;
    height: 50px;
    justify-content: center;
    background-color: #ccc;
}

.admin-product .admin-product-con .products {
    width: 100%;
    height: calc(100vh - 50px - 50px);
    background-color: #ccc;
    overflow-y: auto;
}

.admin-product .admin-product-con .products tr.role-admin {
    background-color: #abb2dd; /* 관리자 배경색 */
}

.admin-product .admin-product-con .products table {
    width: 100%;
    border-collapse: collapse;
}

.admin-product .admin-product-con .products th {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

.admin-product .admin-product-con .products td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

.admin-product .admin-product-con .products th {
    background-color: #ccc; /* 헤더 */
    color: #4a4141;
}

.admin-product .admin-product-con .products td {
    color: #4a4141; /* 일반 */
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

@media (max-width: 1030px) {
    .admin-product table th:nth-child(5) {  /* 권한 */
      display: none;
    }
    .admin-product table td:nth-child(5) {  
      display: none;
    }
}

