.insert{
  width: 100%;
  height: calc(100vh - 50px);
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.insert .insert-con{
  width: 95%;
  height: 95%;

  box-shadow: 0px 0px 5px #ccc;
  box-sizing: border-box;

  background-color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.insert .insert-con .insert-left{
  flex: 1;
  width: 100%;
  height: 100%;

  /* border: 1px solid; */
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
}

.insert .insert-con .insert-right{
  flex: 1;
  width: 100%;
  height: 100%;

  background-color: #ccc;

  display: flex;
  justify-content: center;
  align-items: center;
}

.insert .insert-con .insert-right .insert-right-con{
  width: 25vw;
  height: auto;

  background-color: white;

  /* border: 1px solid; */
  box-sizing: border-box;

  box-shadow: 0 0 6px #9c9c9c;

}

.insert .insert-con .insert-right .insert-right-con .right-top{
  width: 100%;
  height: 50vh;

  display: flex;
  flex-direction: column;

}

.insert .insert-con .insert-right .insert-right-con .right-top h1{
  width: 100%;
  height: 50px;

  box-shadow: inset 0 -1px 2px #ccc;

  display: flex;
  justify-content: center;
  align-items: center;
}

.insert .insert-con .insert-right .insert-right-con .right-top ul{
  width: 100%;

  padding: 10px;

  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.insert .insert-con .insert-right .insert-right-con .right-top ul hr{
  width: 24vw;
}

.insert .insert-con .insert-right .insert-right-con .right-top ul li{
  padding: 5px 40px;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  gap: 1vw;
}

.insert .insert-con .insert-right .insert-right-con .right-top ul li input{
  width: 60%;
  line-height: 10px;

  font-size: 15px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.insert .insert-con .insert-right .insert-right-con .right-top ul li textarea{
  width: 20vw;
  height: 10vh;
  resize: none;

  font-size: 20px;
  font-weight: bold;
}

.insert .insert-con .insert-right .insert-right-con .right-top ul li select{

  width: 96%;
}

.insert .insert-con .insert-right .insert-right-con .right-bottom{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 3vw;

  padding: 10px;
}

.insert .insert-con .insert-right .insert-right-con .right-bottom input{
  /* border: 1px solid; */
  padding: 10px 0;
  box-sizing: border-box;
}

.insert .insert-con .insert-right .insert-right-con .right-bottom button{
  width: 6vw;
  border: 0;
  background-color: red;
  color: white;

  padding: 7px;

  cursor: pointer;
}

.insert .insert-con .insert-right .insert-right-con .right-bottom button:hover{
  background-color: black;
  color: white;
}