.admin-shop {
    width: 100%;
    height: calc(100vh - 50px);
    background-color: #ccc; /* 전체 배경색 */
}

.admin-shop .admin-shop-con {
    width: 100%;
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.admin-shop .admin-shop-con h1 {
    width: 100%;
    height: 50px;
    background-color: rgb(71, 69, 73);
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-shop .admin-shop-con table {
    width: 100%;
    border-collapse: collapse;
}

.admin-shop .admin-shop-con th {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
    background-color: #ccc; /* 헤더와 바디 배경색 동일하게 설정 */
    color: #4a4141; /* 헤더 글자색 */
    transition: all 0.3s;
}

.admin-shop .admin-shop-con td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
    background-color: #ccc; /* 바디 배경색 */
    color: #4a4141; /* 바디 글자색 */
    transition: all 0.3s;
}
.admin-shop .admin-shop-con td button{
    margin-right: 5px;
}
.admin-shop .admin-shop-con .members tr.role-admin {
    background-color: #abb2dd; /* 관리자 배경색 */
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

@media (max-width: 1030px) {
    .admin-shop .admin-shop-con th{
        font-size: 15px;
    }
    .admin-shop .admin-shop-con td{
        font-size: 14px;
    }
    .admin-shop table th:nth-child(5),  /* 비밀번호 */
    .admin-shop table th:nth-child(6)  /* 나이 */ 
    {
      display: none;
    }
  
    .admin-shop table td:nth-child(5),  
    .admin-shop table td:nth-child(6) {  
      display: none;
    }
  }