.admin-meat {
  width: 100%;
  display: flex;
  justify-content: center;
}

.admin-meat .admin-meat-con {
  flex: 0 1 75vw;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  gap: 1vw;

  padding: 10px;
}

.admin-meat .admin-meat-con .admin-meat-title {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* border: 1px solid; */

  box-shadow: inset 0 -2px 0 black;

}

.admin-meat .admin-meat-con .admin-meat-title h1 {
  padding: 15px 0;
}

.admin-meat .admin-meat-con .admin-meat-item {
  width: 65vw;
  /* height: auto; */
  height: calc(100vh - 50px - 93px - 2vw);
  overflow-y: auto;
  border: 0.2px solid #ccc;

  box-shadow: 2px 2px 3px #ccc;
}

.admin-meat .admin-meat-con .admin-meat-item>ul {

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 2fr);
  grid-auto-rows: 2fr;

  padding: 3vw;

  gap: 3vw;
}

.admin-meat .admin-meat-con .admin-meat-item>ul>li {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 10px;

  cursor: pointer;

  transition: all 0.3s;

  /* border: 1px solid; */
}

.admin-meat .admin-meat-con .admin-meat-item>ul>li:hover {
  transform: scale(1.03);

  box-shadow: 2px 2px 2px #ccc;
}

.admin-meat .admin-meat-con .admin-meat-item>ul>li .top {
  width: 100%;
  flex: 3;
}

.admin-meat .admin-meat-con .admin-meat-item>ul>li .top img {
  width: 100%;
  display: block;
}

.admin-meat .admin-meat-con .admin-meat-item>ul>li .bottom {
  flex: 1;
  display: flex;
  flex-direction: column;

}

.admin-meat .admin-meat-con .admin-meat-item>ul>li .bottom span {
  padding: 3px 0;
}

@media (max-width: 1030px){  
  .admin-meat .admin-meat-con .admin-meat-title {
    width: 100%;
  }
  .admin-meat .admin-meat-con .admin-meat-item{
    width: 90vw;
  }
}

@media (max-width: 800px){
  .admin-meat .admin-meat-con .admin-meat-item>ul{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-auto-rows: 1fr;
  }
  .admin-meat .admin-meat-con .admin-meat-item>ul>li {

    gap: 0;
  }
}