.admin-member {
    width: 100%;
    height: calc(100vh - 50px);
}

.admin-member .admin-member-con {
    width: 100%;
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.admin-member .admin-member-con h1 {
    width: 100%;
    height: 50px;
    background-color: rgb(71, 69, 73);
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-member .admin-member-con span {
    width: 100%;
    height: 50px;
    justify-content: center;
    background-color: #ccc;
}

.admin-member .admin-member-con .members {
    width: 100%;
    height: calc(100vh - 50px - 50px);
    background-color: #ccc;
    overflow-y: auto;
}

.admin-member .admin-member-con .members tr.role-admin {
    background-color: #abb2dd; /* 관리자 배경색 */
}

.admin-member .admin-member-con .members table {
    width: 100%;
    border-collapse: collapse;
}

.admin-member .admin-member-con .members th {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

.admin-member .admin-member-con .members td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

.admin-member .admin-member-con .members th {
    background-color: #ccc; /* 헤더 */
    color: #4a4141;
}

.admin-member .admin-member-con .members td {
    color: #4a4141; /* 일반 */
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

@media (max-width: 1030px) {
    .admin-member table th:nth-child(3),  /* 비밀번호 */
    .admin-member table th:nth-child(6),  /* 주소 */
    .admin-member table th:nth-child(8) {  /* 권한 */
      display: none;
    }
  
    .admin-member table td:nth-child(3),  
    .admin-member table td:nth-child(6),  
    .admin-member table td:nth-child(8) {  
      display: none;
    }
}

@media (max-width: 800px) {
    .admin-member table th:nth-child(3),  /* 비밀번호 */
    .admin-member table th:nth-child(4),  /* 나이 */
    .admin-member table th:nth-child(6),  /* 주소 */
    .admin-member table th:nth-child(7),  /* 전화번호 */
    .admin-member table th:nth-child(8) {  /* 권한 */
      display: none;
    }
  
    .admin-member table td:nth-child(3),  
    .admin-member table td:nth-child(4),  
    .admin-member table td:nth-child(6),  
    .admin-member table td:nth-child(7),  
    .admin-member table td:nth-child(8) {  
      display: none;
    }
  }