.insert{
  width: 100%;
  height: calc(100vh - 50px);
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.insert .insert-con{
  width: 95%;
  height: 95%;

  box-shadow: 0px 0px 5px #ccc;
  box-sizing: border-box;

  background-color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  overflow: hidden;
}

.insert .insert-con .insert-left{
  flex: 1;
  width: 100%;
  height: auto;

  /* border: 1px solid; */
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
}

.insert .insert-con .insert-left .insert-left-con{
  width: 80%;
}

.insert .insert-con .insert-left img{
  width: 100%;
  height: auto;
  display: block;
}

.insert .insert-con .insert-right{
  flex: 1;
  width: 100%;
  height: 100%;

  background-color: #ccc;

  display: flex;
  justify-content: center;
  align-items: center;
}

.insert .insert-con .insert-right .insert-right-con{
  width: 70%;
  height: auto;

  background-color: white;

  /* border: 1px solid; */
  box-sizing: border-box;

  box-shadow: 0 0 6px #9c9c9c;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.insert .insert-con .insert-right .insert-right-con .right-top{
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
}

.insert .insert-con .insert-right .insert-right-con .right-top h1{
  width: 100%;
  height: 50px;

  box-shadow: inset 0 -2px 0px #adadad;

  display: flex;
  justify-content: center;
  align-items: center;
}

.insert .insert-con .insert-right .insert-right-con .right-top ul{
  padding: 10px;

  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.insert .insert-con .insert-right .insert-right-con .right-top ul hr{
  width: 95%;
}

.insert .insert-con .insert-right .insert-right-con .right-top ul li{
  padding: 5px 40px;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  gap: 1vw;

  font-weight: bold;
}

.insert .insert-con .insert-right .insert-right-con .right-top ul li input{
  width: 60%;
  line-height: 10px;

  font-size: 15px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.insert .insert-con .insert-right .insert-right-con .right-top ul li textarea{
  width: 60%;
  height: 10vh;
  resize: none;

  font-size: 16px;
  /* font-weight: bold; */
}

.insert .insert-con .insert-right .insert-right-con .right-top ul li select{
  width: 96%;
}

.insert .insert-con .insert-right .insert-right-con .right-bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6vw;

  padding: 10px;
}

.insert .insert-con .insert-right .insert-right-con .right-bottom input[type="file"]{
  /* border: 1px solid; */
  /* padding: 10px 0;
  box-sizing: border-box; */

  display: none;
}

.insert .insert-con .insert-right .insert-right-con .right-bottom label{
  font-weight: bold;
  color: #0095f6;
  display: flex;
  cursor: pointer;
}

.insert .insert-con .insert-right .insert-right-con .right-bottom label:hover{
  color: red;
}

.insert .insert-con .insert-right .insert-right-con .right-bottom button{
  border: 0;
  background-color: red;
  color: white;

  padding: 10px;

  cursor: pointer;
}

.insert .insert-con .insert-right .insert-right-con .right-bottom button:hover{
  background-color: black;
  color: white;
}

@media (max-width: 1200px){
  .insert .insert-con{
    flex-direction: column;
  }
  .insert .insert-con .insert-right .insert-right-con{
    width: 80%;
    height: 90%;
  }
  .insert .insert-con .insert-right .insert-right-con .right-top ul li textarea{
    width: 60%;
    height: 5vh;
  }
}