@import url(adminLeft.css);
@import url(adminRight.css);
@import url(adminFruit.css);
@import url(adminMeat.css);
@import url(adminMember.css);
@import url(adminProductsInsert.css);
@import url(adminSnack.css);
@import url(adminVegetable.css);
@import url(memberModal.css);
@import url(adminPayment.css);
@import url(adminCart.css);
@import url(adminCartModal.css);
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.admin {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;

  width: 100%;
  height: auto;
}

.admin .admin-con {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: space-between;
}

.admin-index {
  width: 100%;
  height: calc(100vh - 50px);
  background-color: #eeeeee;

  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-index .admin-index-con {
  width: 95%;
  height: 95%;

  box-shadow: 0px 0px 5px #ccc;
  box-sizing: border-box;

  background-color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-index .admin-index-con ul {
  display: grid;
  grid-template-columns: repeat(3, 24vw);
  grid-template-rows: repeat(2, 13vw);
  grid-auto-rows: 13vw;
  gap: 2vw;
}

.admin-index .admin-index-con ul li {
  /* border: 1px solid; */
  border-radius: 10px;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.4s;

  cursor: pointer;
}

.admin-index .admin-index-con ul li:nth-child(1) {
  background: url(../../../public/images/admin/member.jpg) no-repeat 50% / cover;
  filter: grayscale(50%);
}

.admin-index .admin-index-con ul li:nth-child(2) {
  background: url(../../../public/images/admin/adminVegetable.jpg) no-repeat 50% /
    cover;
  filter: grayscale(50%);
}

.admin-index .admin-index-con ul li:nth-child(3) {
  background: url(../../../public/images/admin/adminMeat.jpg) no-repeat 50% /
    cover;
  filter: grayscale(50%);
}

.admin-index .admin-index-con ul li:nth-child(4) {
  background: url(../../../public/images/admin/adminFruit.jpg) no-repeat 50% /
    cover;
  filter: grayscale(50%);
}

.admin-index .admin-index-con ul li:nth-child(5) {
  background: url(../../../public/images/admin/adminSnack.jpg) no-repeat 50% /
    cover;
  filter: grayscale(50%);
}

.admin-index .admin-index-con ul li:nth-child(6) {
  background: url(../../../public/images/admin/adminProdutcsInsert.png)
    no-repeat 50% / cover;
  filter: grayscale(50%);
}

.admin-index .admin-index-con ul li:nth-child(7) {
  background: url(../../../public/images/admin/adminCart.jpg) no-repeat 50% /
    cover;
  filter: grayscale(50%);
}

.admin-index .admin-index-con ul li:nth-child(8) {
  background: url(../../../public/images/admin/adminShop.jpg) no-repeat 50% /
    cover;
  filter: grayscale(50%);
}

.admin-index .admin-index-con ul li:nth-child(9) {
  background: url(../../../public/images/admin/adminPayment.jpg) no-repeat 50% /
    cover;
  filter: grayscale(50%);
}

.admin-index .admin-index-con ul li:hover {
  transform: scale(1.04);
}

.admin-index .admin-index-con ul li p {
  width: 24vw;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.705);

  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 30px;

  font-weight: bold;
}
